@import '~@/styles/mixins.less';

.content {
  margin-top: 16px;
  .main {
    p {
      float: left;
    }
  }

  .clearfix {
    .clearfix();
  }

  .foot {
    color: red;
    font-weight: 700;
  }
}
